/******************************
 *********** RESET ************
 ******************************/
html, body, div, {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	vertical-align: middle;
	margin: 0 20px 0 0;
	float: left;
}

div{
	word-wrap: break-word;
}

/******************************
 ************ GRID ************
 ******************************/

body {
	margin:10px;
}

.wrapper {
	// height:100vh; 
	width:100%;
	display: grid;
}
.container__inner{
	max-width: 1200px;
	margin:auto;
}
.grid {
	width:100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid>div, .list>div {
	background: #ff2881;
	margin:10px;
	padding:20px;
}

.list div {
	width:100%;
}

/***** IMAGES *****/
.grid > div {
    position: relative;
    overflow: hidden;
}

.grid > div > img { 
    object-fit: cover;
    width: 100%;
    height: 240px;
 }

/******************************
 ***** INPUT AND BUTTONS ******
 ******************************/

input[type=text]{
	width: 200px;
	height: 20px;
	margin: 0 0 0 10px;
}

button{
	height: 25px;
}


/******************************
 ***** FUNCTIONAL STYLES ******
 ******************************/

 .hidden{
	 display: none;
 }