/******************************
 *********** RESET ************
 ******************************/
html, body, div, {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	vertical-align: middle;
	margin: 0 20px 0 0;
	float: left;
}

/******************************
 ************ GRID ************
 ******************************/

body {
	margin:10px;
}

.wrapper {
	height:100vh;
	width:100%;
	display: grid;
}

.grid {
	height:100vh;
	width:100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.grid div {
	background: #ff2881;
	margin:10px;
	padding:20px;
}


/******************************
 ***** FUNCTIONAL STYLES ******
 ******************************/

 .hidden{
	 display: none;
 }