$border-radius__small: 5px;

$color__text--light: #595763; //grey
$color__text--links: #365184; //matte navy

$color__button--dark: #365184; //matte navy
$color__button--dark-hover: #576b90; //lighter matte navy

$color__highlight--light: #ff765b; //light orange
$color__highlight--strong: #ff431f; //strong orange

$transition__hover--bg: ease background .3s;

/******************************
 *********** RESET ************
 ******************************/
html, body, div, {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	vertical-align: middle;
	margin: 0 20px 0 0;
	float: left;
}

button {
	outline:none;
	border-color:none;
	border:none;
}

/********************************
 ************ GENERAL ************
 ********************************/
body {
	//background: radial-gradient(#eef0ed, #c9dbda);
	background: radial-gradient(#fff, #c9dbda);
	background-size: cover;
	background-attachment: fixed;
	margin:10px;
}
div {
	word-wrap: break-word;
}

/*************************************
 ************ TYPORGRAPHY ************
 *************************************/
body {
	font-family: 'Circular';
}
a {
	text-decoration: none;
	color: $color__text--links;
}
.text--bold{
	font-weight: bold;
}

/******************************
 ************ GRID ************
 ******************************/
body {
	font-family: 'Circular';
}
a {
	text-decoration: none;
	color: $color__text--links;
}

/********************************
 ************ HEADER ************
 ********************************/
.logo {
	width:300px;
	display:block;
	margin:100px auto;
}

.navbar {
	
}


/****************************************
 ************ GRID/LIST VIEW ************
 ****************************************/

.wrapper {
	// height:100vh; 
//	width:100%;
	display: grid;
}
.container__inner{
	max-width: 1200px;
	margin:0 auto 100px;
	&>div {
		background: #fff;
		border-radius: $border-radius__small;
		box-shadow: 5px 5px 0px rgba(0,0,0,.2);
		display: flex;
    	justify-content: space-between;
	}
}
.container__artist{
	text-align: center;
	align-items: center;
	img {
		border-radius: 50%;
		margin-bottom: 1rem;
	}
}
.grid {
	width:100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid>div, .list>div {
	margin:10px;
	padding:20px;
}

.grid>div {
	flex-direction: column;
	h3 {
		padding: 0 0 .6em;
	}
}

.list {
	max-width: 780px;
	&>div {
		width:100%;
		flex-direction: row;
	}
}
/***** IMAGES *****/
.grid > div {
    position: relative;
    overflow: hidden;
}

.grid > div > img { 
    object-fit: cover;
    width: 100%;
    height: 240px;
 }


.genres {
	p {
		text-align: center;
		font-size: .7em;
		background: $color__highlight--light;
		display: inline-block;
		margin: auto;
		padding: 5px 12px;
		border-radius: 5px;
		margin: 6px 3px 0 3px;
	}
}

/******************************
 *********** NAV **************
 ******************************/

nav {
	height: 40px;
}

/******************************
 ***** INPUT AND BUTTONS ******
 ******************************/

input[type=text], input[type=number] {
	width: 300px;
	height: 30px;
	border-radius: $border-radius__small;
}
button {
	border-radius: $border-radius__small;
	transition: $transition__hover--bg;
	cursor:pointer;
	&.dark {
		background: $color__button--dark;
		color:#f8f8f8;
		&:hover {
			background: $color__button--dark-hover;
			transition: $transition__hover--bg;
		}
	}
	&.clear {
		border:none;
		background: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&.large {
		height: 45px;
		font-size: 1rem;
    	letter-spacing: 1px;
	}
	&.small {
		font-size:.7rem;
		padding:5px 0;
	}
}


.searchInput {
	margin:0 auto 40px;
	width:100%;
	max-width:450px;
	
	input[type="text"], button {
		height:40px;
	}
	button {
		width:100px;
	}
}


/******************************
 ***** FUNCTIONAL STYLES ******
 ******************************/

 .hidden{
	 display: none;
 }