header {
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: flex-start;
	height:auto;
	nav, .searchInput {
		width: 70%;
	}
	nav {
		font-size: .9rem;
	}
	.searchInput {
		max-width:500px;
	}
	
	.logo {
		width:20%;
		img {
			width:130px;
		}
	}
}